useDynLib(GEMcluster, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, setNames)
importFrom(utils, tail)
S3method(predict, gem_fit)
S3method(print, gem_gap)
export(cluster_accuracy)
export(dense_block_means)
export(gap_select_k)
export(gem_fit)
export(gem_predict)
export(gem_select_k_gap)
export(make_ar_cov)
export(relative_frobenius)
export(simulate_elliptical_mixture)
